:root {
  /* Color primario */
  --rojo: #cc2d18;
  /* Color secundario */
  --marron: #9b4320;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {margin: 0;}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    height: 20%;
    font-size: 1.5rem;
    
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--marron);
    text-shadow: 3px 3px 1px #000000;
}


#portada {position: relative;}


li {display: inline-block;}

li:hover {
    font-size: 1.7rem;
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: #9b4320;
}

footer img {
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
}



@media screen and (max-width: 500px) {

    header {
        font-size: 1rem;
    }

    li:hover {
    font-size: 1.3rem;
}

    footer {
        font-size: 0.8rem;
    }

    footer img {
        height: 30px;
    }
}