#portada {
    position: relative;
}


video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(1px) brightness(80%);
    z-index: -1;
}



#portada > h1, h2 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-shadow: 4px 3px 2px #000000;
    z-index: 5;
}

#portada > h2 {
    top: 55%
}

@media screen and (max-width: 500px) {
    #portada > h1, h2 {
        position: fixed;
        font-size: 0.8rem;
    }
}



