@import "comun.css";

#portada {
    position: relative;
}


video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 92vh;
    object-fit: cover;
    filter: blur(1px) brightness(80%);
    z-index: -1;
}



#portada > h1, #portada > h2 {
    display: inline-block;
    text-align: center;
    color: white;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-shadow: 4px 3px 1px var(--marron);
    z-index: 5;
}

#portada > h2 {   
    top: 55%
}

#entrance img {
    height: 35vh;
    border-radius: 50px;
    border: #9b4320 solid 3px;
}

#entrance {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    
}

.aparecer {
    opacity: 1;
    animation: fadeInRight 1s ease-out forwards;
}

#entrance div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

p {
    font-size: 1.2rem;
    width: 30%;
}

#line {
    border-left: 3px solid black; 
    height: 250px;
    margin-inline: 15px;
}

#gallery div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 10%;
}

#gallery img {
    display: inline-block;
    width: 100%; 
    height: 70%;
}

#gallery h2 {text-align: center;}

figure {
    display: inline-block;
    position: relative;
    width: 15%;
    border: #9b4320 solid 3px;
    overflow: hidden;
    border-radius: 30px;
    text-align: center;
}

figure p {
    position: absolute;
    width: 100%;
    top: -100%;
    left: 0%;
    opacity: 1;
    text-shadow: 2px 2px var(--marron);
}

figure:hover img, figure:hover figcaption {
    filter: blur(1px) brightness(50%);
    transition: ease 0.4s;
}

figure:hover p {
    filter: none;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    transition: ease 0.5s;
}

@keyframes fadeInRight {

    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }   
}

@media screen and (max-width: 1000px) {
    #portada h1, h2 {font-size: 2.2rem;}

    #portada h2 {top: 57%;}

    #entrance img {height: 20vh;}

    #line {height: 200px;}

    #gallery div {flex-wrap: wrap;}

    figure{ flex: 30%;}

    figure p {font-size: 1.4rem;}

    p {font-size: 1rem;}

}

@media screen and (max-width: 500px) {
    #portada > h1, #portada > h2 {
        position: absolute;
        font-size: 1.2rem;
    }

    h2 {font-size: 1.8rem;}

    p {font-size: 0.65rem;}

    figure p {font-size: 1.1rem;}

    #line {height: 150px;}
}





