@import url('comun.css');

#portada {
    position: relative;
}


video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 92vh;
    object-fit: cover;
    filter: blur(1px) brightness(80%);
    z-index: -1;
}



#portada > h1, h2 {
    display: inline-block;
    text-align: center;
    color: white;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-shadow: 4px 3px 1px #000000;
    z-index: 5;
}

#portada > h2 {   
    top: 55%
}

img {
    height: 35vh;
    border-radius: 50px;
    border: #9b4320 solid 3px;
}

#entrance {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeInRight 1s ease-out forwards;
    animation-timeline: auto();
}

#entrance div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

p {
    font-size: 1.2rem;
    width: 30%;
}

#line {
    border-left: 3px solid black; 
    height: 250px;
    margin-inline: 15px;
}

@keyframes fadeInRight {

    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }   
}

@media screen and (max-width: 1000px) {
    #portada h1, h2 {
        font-size: 2.2rem;
    }

    #portada h2 {
        top: 55%;
    }

    img {
        height: 20vh;
    }

    p {font-size: 1rem;}
}

@media screen and (max-width: 500px) {
    #portada > h1, h2 {
        position: absolute;
        font-size: 1.2rem;
    }

    p {font-size: 0.65rem;}

    #line {
        height: 150px;
    }
}





