h1, h2 {
    text-align: center;
    text-shadow: 1px 1px 1px var(--marron);
}

#activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gorditas';
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    z-index: 10;
    margin-bottom: 3%;
}

.photo {
    display: inline-block;
    position: relative;
    width: 50%;
    /* left: 0; */
    border: #9b4320 solid 3px;
    overflow: hidden;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 0.4rem 0.6rem black;
    background-color: white;
}

/* .card:hover  {
    width: 70%;
    transition: 1s ease;
} */



.photo:hover {
    transform: translateX(-50%);
    transition: 1s ease;
}

.photo:hover + .info {
    transform: translateX(50%);
    transition: 1s ease;
}

.info {
    position: absolute;
    top: 1;
    width: 35%;
    /* border: #9b4320 solid 3px; */
    background-color: white;
    z-index: -1;
}

#activities p {
    font-size: 2.8rem;
    text-align: center;
}

.card img {
    display: inline-block;
    /* object-fit: cover; */
    width: 100%; 
    height: 70%;
}

@media screen and (max-width: 1500px) {
    #activities p {
    font-size: 1.8rem;
    text-align: center;
}

}

@media screen and (max-width: 1000px) {
    #activities p {
    font-size: 1rem;
    text-align: center;
}

}

@media screen and (max-width: 500px) {
    #activities p {
    font-size: 0.8rem;
    text-align: center;
}

}