h1, h2 {
    text-align: center;
    text-shadow: 1px 1px 1px var(--marron);
}

#activities, #facilities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gorditas';
}

.card {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 80%;
    z-index: 10;
    margin-bottom: 3%;
}

.photo {
    display: inline-block;
    position: relative;
    width: 50%;
    border: #9b4320 solid 3px;
    overflow: hidden;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 0.4rem 0.6rem black;
    background-color: white;
}

#activities .photo:hover {
    transform: translateX(-50%);
    transition: 1s ease;
}

#activities .photo:hover + .info {
    transform: translateX(50%);
    transition: 1s ease;
}

.info {
    position: absolute;
    top: 1;
    width: 35%;
    background-color: white;
    z-index: -1;
}

#activities p {
    font-size: 2.8rem;
    text-align: center;
}

.card img {
    display: inline-block;
    width: 100%; 
    height: 70%;
}

#facilities {
    flex-direction: row;
    flex-wrap: wrap; 
}

#facilities h2 {flex-basis: 100%;}

#facilities .card {
    perspective: 800px;
    transform-style: preserve-3d;
    width: 30%;
}

.is-flipped .photo {transform: rotateY(180deg) !important; }

#facilities .is-flipped .info {opacity: 1;}

#facilities .photo {
    width: 80%;
    height: 300px;
    transition: transform 0.15s ease-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#facilities img {
    display: inline-block;
    width: 100%; 
    height: 70%;
    object-fit: cover;
}

#facilities .info {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    width: 80%;
    height: 100%;
    border: #9b4320 solid 3px;
    border-radius: 30px;
    text-align: center;
    backface-visibility: hidden;
    opacity: 0;
}



@media screen and (max-width: 1500px) {

    #activities p {
    font-size: 1.8rem;
    text-align: center;
}

}

@media screen and (max-width: 1000px) {

    #facilities .photo {height: 200px;}

    #facilities h3 {font-size: 1rem;}

    #activities p, #facilities p {
    font-size: 1rem;
    text-align: center;
    }

}

@media screen and (max-width: 500px) {

    #facilities .photo {height: 150px;}

    #facilities h3 {font-size: 0.7rem;}

    #activities p, #facilities p {
    font-size: 0.8rem;
    text-align: center;
}

}