h1, h2 {
    text-align: center;
    text-shadow: 1px 1px 1px var(--marron);
}

#activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.photo {
    display: inline-block;
    position: relative;
    width: 50%;
    /* left: 0; */
    border: #9b4320 solid 3px;
    overflow: hidden;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 0.4rem 0.6rem black;
}

/* .card:hover  {
    width: 70%;
    transition: 1s ease;
} */



.photo:hover {
    left: 0;
}

.info {
    /* z-index: -1; */
    position: absolute;
    height: 50%;
    width: 30%;
    /* top: 1; */
    /* left: 33%; */
    background-color: white;
}

#activities p {
    font-size: 1.5rem;
    text-align: center;
}

.card img {
    display: inline-block;
    /* object-fit: cover; */
    width: 100%; 
    height: 70%;
}