h1, h2 {
    text-align: center;
    text-shadow: 1px 1px 1px var(--marron);
}

#activities div {
    display: inline-block;
    position: relative;
    width: 40%;
    height: 100%;
    border: #9b4320 solid 3px;
    overflow: hidden;
    border-radius: 30px;
    text-align: center;
    margin-left: 10%;
    box-shadow: 0 0.4rem 0.6rem black;
}

#activities div div {
    position: absolute;
    height: 100%;
    width: 70%;
    top: 0%;
    right: 0%;
    z-index: 5;
    background-color: white;
}

#activities p {
    font-size: 1.5rem;
    text-align: center;
}

#activities img {
    display: inline-block;
    width: 100%; 
    height: 70%;
}