@import "comun.css";

html {overflow: hidden;}

nav {
    position: fixed;
    width: 100%;
    max-height: fit-content;
}

main {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    height: 100vh;
    background-image: url('../img/entrance2.jpg');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 0.1% 45%;
}

form {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center; 
    width: 50%;
    height: 70vh;
    background-color: white;
    border: #9b4320 solid 3px;
    border-radius: 30px;
    box-shadow: 0 0.4rem 0.6rem black;
    margin-left: 2%;
}

label {
    display: block;
    margin-bottom: 4px;
}

#select label {display: inline;}

input, textarea, select {
    width: 70%;
    border: 2px solid var(--marron);
    border-radius: 10px;
}

#select input {width: auto;}

#experience, #select input, #like, #button {cursor: pointer;}

#select + div p {display: inline;}

#row1 {
    display: flex; 
    flex-direction: row; 
    width: 100%;
    height: 90%;
    gap: 10px; 
}

#row1 > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin-left: 5px;
}

#button {
    width: 100px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media screen and (max-width: 1600px) {
    main {
        background-size: cover;
        background-position: 20% center;
        justify-content: center;
    }

    form {height: 40vh;}
}

@media screen and (max-width: 1000px) {
    main {
        background-position: center;
    }

        form {height: 50vh}
}

@media screen and (max-width: 500px) {

        form {width: 70%;}
}